@{
    ViewBag.Title = "GetLink";
}

<div class="row flex justify-content-center">
<div class="col-6">
<div class="card" style="color:white; background-color:#4047d5">
    <h4 class="card-header">Login</h4>

    <div class="card-body">
            <form asp-controller="Account" asp-action="GetResetLink" method="post">                                  
                    <div class="mb-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Enter your email"/>
                        <span validation-for="email" class="text-danger"></span>
                    </div>
                    <div class="mb-1">
                        <button type="submit" class="btn btn-warning">Reset Password</button>
                    </div>
            </form>
    </div>
</div>
</div>
</div>