@using MVC_MyMusicStore.Models.UserModels
@model Login;    

@{
    ViewBag.Title = "Login";
}

<div class="row flex justify-content-center">
    <div class="col-md-4">
        <div class="card">
        <h4 class="card-header">Register</h4>

        <div class="card-body">
            <form asp-action="Login" method="post" class="form">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="mb-1">
                    <label asp-for="Username"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div><div class="mb-1">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-1 form-check">
                    <label class="form-check-label">
                        <input asp-for="RememberMe" class="form-check-input"/>@Html.DisplayNameFor(a => a.RememberMe)
                    </label>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                   <div class="row">
                        <input type="submit" value="Login" class="btn btn-primary" />
                   </div>
                   
                   <div class="row">
                        <p>Don't have an account?</p>
                        <a class="btn btn-secondary" asp-action="Register">Register</a>
                   </div>
                </div>

            </form>
        </div>
    </div>
    </div>
    </div>
    @section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }