@{
    ViewBag.Title = "Go to link";
}


@{
    string email = ViewBag.Email;
    string resetToken = ViewBag.ResetToken;

    // var resetLink = Url.Action("ResetPassword", "Account",  Request.Scheme);
    // ViewData["ResetLink"] = resetLink;
}
<button onclick="history.go(-1)" class="btn btn-link"><i class="fa-solid fa-angles-left" style="color:white; font-size:1.5rem"></i></button>
<h1 class="text-light mb-5">Reset Password Link</h1>
<div class="container text-light">
    <p>
        Use the following link to reset your password<br />
        @Html.ActionLink("Click to reset password", "ResetPassword", "Account", new { resetToken = resetToken , email = email})
    </p>
   
</div>
