@using MVC_MyMusicStore.Models.UserModels
@model ResetPasswordViewModel;

@{
    ViewBag.Title = "Login";
}

<div class="row flex justify-content-center">
    <div class="col-md-4">
        <div class="card " style="color:white ; background-color:#4047d5">
            <h4 class="card-header">Reset Password</h4>

            <div class="card-body">
                <form asp-action="ResetPassword" method="post" class="form">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="mb-1">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-1">
                        <label asp-for="NewPassword"></label>
                        <div class="input-group">
                            <input asp-for="NewPassword" class="form-control" id="password" />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility()"><i class="fa fa-eye "></i></button>
                            </div>
                        </div>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="mb-1">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Reset</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById('password');
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
        } else {
            passwordInput.type = 'password';
        }
    }
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}