@{
    ViewBag.Title = "Successfull Reset";
}

<div class="container text-light" style="display:flex; justify-content:center; align-items:center; flex-direction:column">
    <h1>Password reset successfully</h1>
    <div class="m-3">
        <a asp-action="Login" asp-controller="Account" class="btn btn-light">Back to login</a>
    </div>
</div>