@model IEnumerable<MVC_MyMusicStore.Models.ViewModels.ShoppingCartViewModel>
@{
    ViewData["Title"] = "Shopping Cart";
}

<div class="text-center">
    <h1 class="display-4">Cart</h1>
</div>

<table class="table">
   <ul>
        @foreach(var item in Model)
        {
            <li>@item.CartItems</li>
        }
    </ul>
    <p></p>
</table>