@model MVC_MyMusicStore.Models.Genre

@{
    ViewBag.Title = "Browse";
}
@* <h2>Browsing Genre: @Model.Name</h2> *@
@if(Model == null)
{
    <h2>Not Found</h2>
}
else
{
    @* <input type="button" onclick="history.go(-1)" value="Return to client detail" /> *@
   <div style="display:flex; align-items:center; padding:1%">
        <button onclick="history.go(-1)" class="btn btn-link"><i class="fa-solid fa-angles-left" style="color:white; font-size:1.5rem"></i></button>
        <h2 style="color:white; margin:0">Browsing Genre: @Model.Name</h2>
   </div>
}
 <div class="genre text-light">
    

    <ul id="album-list">
        <div class="row">
            @{
                await Html.RenderPartialAsync("~/Views/Shared/_Album.cshtml", Model.Albums);
            }
        </div>
    </ul>
</div> 
