@model IEnumerable<MVC_MyMusicStore.Models.Genre>;


    
<ul class="col mt-3 list-group list-group-flush">
    <li class="list-group-item list-group-item-action active"><h3>Genres</h3></li>
    @foreach (var g in Model)
    {
        <li class="list-group-item list-group-item-action">
        <a href="@Url.Action("Browse", "Store", new { Genre = g.Name })" style="text-decoration:none; color:black">
            @g.Name
        </a>
        </li>
    }
</ul>
