@model IEnumerable<MVC_MyMusicStore.Models.Genre>;


    
<ul class="col list-group list-group-flush" style="border-radius:10px; ">
    <li class="list-group-item list-group-item-action " style="background-color:whitesmoke"><h3>Genres</h3></li>
    @foreach (var g in Model)
    {
        <li class="list-group-item list-group-item-action" style="background:#4047d5; ">
            <a href="@Url.Action("Browse", "Store", new { Genre = g.Name })" style="text-decoration:none;color:white">
            @g.Name
        </a>
        </li>
    }
</ul>
