@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager


<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button"  data-bs-toggle= "dropdown" area-expanded="false"> Hello @User.Identity.Name!</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="nav-item">
                    <form id="logoutForm" class="form-inline" method="post" asp-action="Logout" asp-controller="Account">
                        <button type ="submit" class="dropdown-item" >Logout</button>
                    </form>
                </li>
            </ul>
    </li>
    
}
else
{
    @* <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-action="Register" asp-controller="Account">Register</a>
    </li> *@
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-action="Login" asp-controller="Account" >Login</a>
    </li>
}
</ul>
