@model List<MVC_MyMusicStore.Models.Album>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="continer">
    <h3>Albums Available</h3>
    <div class="row">
        @foreach(var i in Model)
        {
            <div class="card m-3 p-0" style="width: 18rem;">
                <div style="height : 16vh ; background-color: bisque " class="m-0"></div>
                <div class="card-body">
                    <h5 class="card-title">@i.AlbumId , @i.Title</h5>

                    <p class="card-text">@i.Price</p>
                    <p class="btn btn-primary" >
                        <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@i.AlbumId" style="color:white ; text-decoration:none">Add to cart</a>

    </p>

                </div>
            </div>
        }
    
</div>
