@model int;
@{
    ViewBag.Title = "Checkout Complete";
}

<div class="container text-light">
    <h2>Order Successfully Completed</h2>
    <p>Thanks for your order! Your order number is: @Model</p>
    </p>
    @* <div class="btn btn-primary" style="text-decoration:none; color:white">@Html.ActionLink("Store", "Index", "Home")</div> *@
    <a class="btn btn-primary" style="width:10%" asp-controller="Home" asp-action="Index">Store</a>
</div>